#header{ 
    width:100%; 
    height: 48px; 
    padding: 0; 
    position: relative; 
    text-align: center;
    border-bottom: 2px solid #efc72b;
    
    
    border-bottom: solid 2px #fd7337;
    
}
#header .logo{ 
    float: left; 
    margin: 0 100px 0 0; 

}
#keyword{ 
    width: auto;
}

.relative{ 
    position:relative;
}
.search-container{ 
    float:left; 
    margin: 12 0 12px; 
    width: 350px;
   
   
}
#main-menu ul.container li
{ 
    display: inline-block;
    font-size: 16;
    margin: auto; 
    padding-left: 100px;
    

    

}
#main-menu .container li a{
    color: black; 
}
#content .main-content a.hothot{
    margin-left: 10px;
}
.movie .movie_infor span.movie{
    display: inline-block;
}
.movie .movie_infor span.movieName{
    
    display: inline; 

}
.movie{
    display: inline-block;
    margin-left: 30px;
}
.list-films{ 
    max-width: 1000px;
    margin: auto;


}
span.movieName{ 
    display: block;
    text-align: center;
    margin-top: 10px;
}
.catalog {
    max-width: 1500px;
    margin: auto;
}
span.movie-year{ 
    display: block;
    text-align: center;
    margin-top: 2px;
}


.film-le .catalog h2.title-box {
        padding-left: 120px;
        max-width: 250px;
    }

.film-hot .catalog h2 a { 
    color: rgb(110, 18, 18); 
    font-size: 40px;
    
}
.film-hot .catalog h2{
    padding-left: 100px;
}
.film-hot  .list-films{
    border-left: solid #efc72b;
    border-right: solid rgb(68, 10, 68);
    border-top: solid rgb(60, 141, 80) ;
    border-bottom: solid rgb(78, 46, 216);
    background: darkkhaki;
    
}
.film-le .list-films{

    border-left: solid #5f2bef;
    border-right: solid rgb(203, 206, 22);
    border-top: solid rgb(60, 141, 80) ;
    border-bottom: solid rgb(216, 34, 34);
    background: darkcyan;
}
.film-hot {
    max-width: 1250px;
    margin: auto;
    border-top: solid blue;
    border-bottom: solid red;
    padding-bottom: 5px;
    padding-top: 1px;
    border-right: solid greenyellow;
    border-left: solid powderblue;
    background-color:rgb(24, 187, 216);
}
ul.container{
    border-left: solid #efc72b;
    border-right: solid rgb(68, 10, 68);
    border-top: solid rgb(60, 141, 80) ;
    border-bottom: solid rgb(78, 46, 216);
    background: lightblue; 
    max-width: 1500px;
    padding-top: 7px; 
    padding-bottom: 10px;
    margin: auto;
    

}
#contact {
text-align: center;
    font-size: large;
    background-color: lightcoral;
    margin: auto;
    max-width: 800px;
}

    





 

